.cont-calculator{
    width:474px;
    height: 843px;
    margin: 0 auto;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#030433+0,2db4a5+100 */
    background: #030433; /* Old browsers */
    background: -moz-linear-gradient(top,  #030433 0%, #2db4a5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #030433 0%,#2db4a5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #030433 0%,#2db4a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030433', endColorstr='#2db4a5',GradientType=0 ); /* IE6-9 */
    padding: 0;
}

.cont-buttons .col-3,
.cont-buttons .col-6{
    width: 100%;
    text-align: center;
    margin-bottom:1px;
}

.cont-display{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    font-size: 14px;
}

.cont-display .display{
    font-size: 70px;
    font-weight: lighter;
    margin: 0 40px;
}

.cont-display .display-history{
    padding-bottom: 5px;
    margin: 0 40px;
    display: flex;
}

.cont-display .display-history p{
    margin: 0;
    text-transform: uppercase;
    opacity: 0.5;
}

#display{
    background: transparent;
    width: 100%;
    border: none;
    color: white;
    text-align: right;
    font-weight: lighter;
}

#display-history{
    background: transparent;
    width: 100%;
    border: none;
    color: white;
    text-align: right;
    font-weight: lighter;
}

.cont-buttons{
    height: 70%;
}

.cont-buttons .row{
    height: 100%;
}

.cont-buttons .col-3 .calc-button,
.cont-buttons .col-6 .calc-button{
    color: white;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 38px;
    margin-right: 1px;
    background-color: rgba(255,255,255,0.1);
    transition: 0.5s ease;
}

.cont-buttons .col-3 .calc-button.operators{
    background-color: rgba(255,255,255,0.3);
}

.cont-buttons .calc-button:hover{
    background-color: rgba(255,255,255,0.6) !important;
}

.cont-buttons .calc-button:active{
    box-shadow: inset 1px 1px 13px #777;
    transform: translateY(2px);
}
